/* gloval css start */

*{
    margin: auto;
    padding: auto;
}
.container{
    width: 1080px;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: right;
}
.text-start{
    text-align: left;
}
a{
    text-decoration: none;
}
.img{
    max-width: 100%;
}
.float-left{
    float: left;
}
.float-right{
    float:right;
}
body,h1,h2,h3,h4,h5,h6,span.a{
    font-family: 'Work Sans', sans-serif;
}
/* gloval css end */

/* css start */

/* heder strat */
.header-section{
    background-color: #fff;
    padding: 5px 0px;
	position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.logo{
    width: 40%;
}
.image img{
    width: 80px;
}
.menu{
    width: 60%;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: inline-block;
    padding: 0px 20px;
    color: #010101;
    line-height: 50px;
    font-size: 17px;
}
.menu ul li a:hover{}

/* heder end */

/* banar section */
.banar-section {
	background-image: url(./img/kobu-agency-IWLR561-Yb-MY-unsplash.jpg);
	padding: 250px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	color: #fff;
	position: relative;
	z-index: 1;
}
.banar-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: -1;
}
.banar-section p{
    font-size: 26px;
    font-weight: 400;

}
.banar-section h1{
    font-size: 60px;
    margin: 30px 0;
}
.banar-section h1 a{}
.defolt-btn{
    color: #7d7d7d;
    padding: 20px 30px;
    background: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition: .4s;
}
.defolt-btn:hover{
    background-color: #DDA137;
    color: #fff;
}
/* .banar-section end */

/* price in table start */
.price-table{
    padding: 30px 0;
    background-color: #F7F7F7;
}
.price-table h1{
    font-size: 3.6rem;
    line-height: 1.1;
    font-weight: 400;
}
.price-table h4{
    font-size: 17px;
    line-height: 1.5;
    color: #767676;
    padding-top: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}
.p1-table{
    width: 31%;
    background-color: #fff;
    margin-right: 2%;
    margin-top: 30px;
}
.p-header {
	padding: 15px;
	border-bottom: 2px solid #F5F5F5;
}
.p-header h3 {
	font-size: 20px;
	font-weight: 500;
}
.p-header h1 {
	font-size: 40px;
	font-weight: 700;
	background-color: #F5F5F5;
	padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.p-header h1 span {
	font-size: 20px;
	font-weight: 500;
}
.p-header p {
	font-size: 17px;
	margin-top: 30px;
	color: #2b2727;
    margin-bottom: 5px;
}
.p-icon{
    padding: 15px;
}
.p-icon ul{
    list-style: none;
}
.p-icon ul li {
	color: #595f66;
	font-size: 18px;
	font-weight: 300;
	line-height: 50px;
}
.p-icon ul li::before{

}
.p-icon ul li span {
	color: #E79230;
	font-size: 26px;
	display: inline-block;
	position: relative;
	right: 30px;
}
.defolt-btn1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}
.defolt-btn1 a {
	padding: 12px 12px;
	background-color: #fff;
	box-shadow: 2px 2px 5px #7f8286;
	width: 149px;
	margin-top: 28px;
	border-radius: 5px;
	
}
.defolt-btn1 a:hover{
    background-color: #EF952B;
    color: #fff;
    transition: .5s;
}
.p1-table:hover .defolt-btn1 a{
    background-color: #EF952B;
    color: #fff;
    transition: .5s;

}
.p1-table:hover .p-header {
    background-color: #EF952B;
    color: #fff;
    transition: .5s;
}
.p1-table:hover .p-header h1 {
    background-color: #EF952B;
    color: #fff;
    transition: .5s;
}
/* price in table end */

/* our team start */
.our-teem {
	padding: 30px 0;
}
.our-teem h2 {
	padding: 30px;
	font-size: 30px;
	font-weight: 400;
}
.div1 {
	width: 22%;
	margin-right: 2%;
	border-style: double;
	border-color: #E89433;
	border: 5px double #E89433;
}
.div1 img{
    max-width: 100%;
}
.div1 h6 {
	text-align: left;
	padding: 30px;
	font-size: 20px;
	font-weight: 500;
}
.div1 p {
	text-align: left;
	padding: 0 0 20px 30px;
	margin-top: -10px;
	font-size: 15px;
	color: #7D7D7D;
}
/* our team end */
/* subscribe section-start */
.subscribe {
	padding: 50px;
	background-color: #F5F5F5;
}
.subscribe span {
	font-size: 15px;
	font-weight: 400;
}
.subscribe h1 {
	font-size: 36px;
	font-weight: 400;
	padding: 25px 0;
}
.subscribe-form{
    margin-top: 20px;
}
.email {
	padding: 15px 300px 15px 10px;
	font-size: 16px;
	border: 2px solid #AA972C;
	border-radius: 10px;
	outline: none;
}
.email:focus{
	box-shadow: 2px 2px 21px -2px rgba(98, 104, 128, 0.6);
	border: 2px solid #336097;
}
.s-btn {
	display: inline-block;
	padding: 15px 80px;
	margin-top: 20px;
	background-color: #AA972C;
	border: 2px solid #AA972C;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.s-btn:hover{
    background-color: #fff;
    color: black;
	transition: .5s;
}
/* subscribe section-end */
/* <!-- Choose us-section start --> */
.choose-us{}
.choose-us h1 {
	text-align: center;
	font-size: 46px;
	font-weight: 500;
	padding: 10px;
}
.img-div{
    width: 40%;
}
.img-div img{
    max-width: 100%;
}

.content-div{
    width: 58%;
}
.content-div h3 {
	font-size: 20px;
	font-weight: 500;
	padding: 28px 0px;
    color: #393b3d;
}
.content-div p {
	font-size: 15px;
	font-weight: 300;
}

/* <!-- Choose us-section end--> */

/* <!-- feedback-section start --> */
.feedback-section {
	padding: 30px 0px;
	background-color: #F5F5F5;
    padding: 50px 0px;
}
.f-heading{
    text-align: center;
}
.f-heading span {
	font-size: 14px;
	font-weight: 300;
}
.f-heading h1 {
	padding: 40px;
	font-size: 30px;
	font-weight: 400;
}
.lorem-div {
	width: 30%;
	margin-left: 2%;
	border: 2px solid #9b8e8e;
	padding-bottom: 15px;
    position: relative;
}
.lorem-div::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 139px;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;

}
.lorem-content {
	padding: 50px 30px;
	background-color: #fff;
}

.lorem-content p {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
.lorem-content p::before {
	content: "\f10d";
	font-family: FontAwesome;
	position: absolute;
	opacity: .15;
	left: 20px;
	top: 48px;
	font-size: 60px;
}
.image-div {
	width: 80%;
    margin: auto;
}
.image-div img {
	width: 80px;
	margin-top: 50px;
	margin-left: 65px;
	border: 5px solid #AA972C;
}
.bio-data {
	margin-top: 77px;
}
.bio-data h3 {
	font-size: 15px;
	font-weight: 400;
	padding: 0px 0px 5px 0px;
}
.bio-data span {
	font-size: 15px;
	font-weight: 300;
	padding-top: 12px;
}
/* <!-- feedback-section end --> */

/* form-action  start*/
.form-section {
	padding: 30px 0px;
    text-align: center;
}
.f-header {
	width: 56%;
	padding: 29px;
}
.f-header h2 {
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 10px;
}
.f-header p {
	font-size: 16px;
	font-weight: 400;
	color: #7D7D7D;
}
.form {
	padding: 40px 0;
	outline: none;
}
.email-2 {
	padding-right: 390px;
	padding-left: 15px;
	/* margin-left: -26px; */
	outline: none;
	
}
.email-2:focus{
	box-shadow: 2px 2px 21px -2px rgba(98, 104, 128, 0.6);
	border: 2px solid #336097;

}

.name {
	height: 48px;
	width: 254px;
	padding-left: 24px;
	border-radius: 10px;
	border: none;
	border: 2px solid #AA972c;
	outline: none;
	font-size: 16px;
}
.name:focus{
	box-shadow: 2px 2px 21px -2px rgba(98, 104, 128, 0.6);
	border: 2px solid #336097;
}
.number{}
.area {
	width: 536px;
	padding: 15px;
	border: 2px solid #AA972c;
	border-radius: 10px;
	outline: none;
	font-size: 16px;
}
.area:focus{
	box-shadow: 2px 2px 21px -2px rgba(98, 104, 128, 0.6);
	border: 2px solid #336097;
}
.f-btn {
	width: 204px;
	height: 56px;
	border: 2px solid #AA972c;
	border-radius: 10px;
	background-color: #AA972C;
	font-size: 16px;
	color: #fff;
}
.f-btn:hover{
	background-color: #fff;
	color: #AA972C;
	transition: .5s;
}
.footer {
	text-align: center;
	margin-top: -38px;
}
.footer span {
	font-size: 16px;
	font-weight: 400;
	color: rgb(83, 70, 70);
}
/* form-action  end*/
